<h4>All Companies</h4>





  <div class="collection">
  <ul>
 <% @companies.each do |company| %>
   <li><a href="<%= company_path(company) %>" class="collection-item" style="font-size:29px;"><span class="badge" ></span ><%= company.name%></a></li> 
<%  end%>
    </ul>
  </div>
          